{% extends './layout.html' %}

{% block title %}clientes{% endblock %}

{% block body%}
  <div class="container">
    <div class="card-body mt-1">
        <h2 class="card-title">CLIENTES</h2>
	<p class="card-text">Agregar, borrar o editar clientes</p>
        <a href="/Alta_Clientes" class="btn btn-primary"><i class="icofont-contact-add icofont-2x"></i></a></div>
    <div class="card-body mt-1">
      <h3 class="card-title">Listado de Clientes</h3>
      <div class="table-responsive">
	    <table class="table table-bordered">
	<thead class="table-dark">
	      <tr>
		<th>Id</th>
		<th>Doc</th>
		<th>Nombre</th>
		<th>Mail</th>
		<th>Telefono</th>
		<th>Direccion</th>
		<th>Departamento</th>
		<th>Accion</th>
	      </tr>
	</thead>
	      {% for cliente in clientes%}
	      <tr>
		<td>{{cliente[0]}}</td>
		<td>{{cliente[1]}}</td>
		<td>{{cliente[2]}}</td>
		<td>{{cliente[3]}}</td>
		<td>{{cliente[4]}}</td>
		<td>{{cliente[5]}}</td>
		<td>{{cliente[6]}}</td>
		<td>
<a href="/Perfil_Cliente" class="btn btn-primary btn-sm"><i class="icofont-contacts icofont-2x"></i></i></a>
<a href="" class="btn btn-primary btn-sm"><i class="icofont-ui-edit icofont-2x"></i></a>
<a href="/Baja_Cliente/{{cliente[0]}}" class="btn btn-danger btn-sm"><i class="icofont-trash icofont-2x"></i></a>
</td>
	      </tr>
	      {% endfor %}
</table>
</div>
    </div>
  </div>
{% endblock %}

