{% extends './layout.html' %}

{% block title %}clientes{% endblock %}

{% block body%}
  <div class="container">
    <div class="card-body mt-1">
        <h2 class="card-title">CLIENTES</h2>
	<p class="card-text">Agregar, borrar o editar clientes</p>
        <a href="/Agregar_Clientes" class="btn btn-primary"><i class="icofont-contact-add icofont-2x"></i></a></div>
    <div class="card-body mt-1">
      <h3 class="card-title">Listado de Clientes</h3>
      <div class="table-responsive">
	    <table class="table table-bordered">
	<thead class="table-dark">
	      <tr>
		<th>Id</th>
		<th><i class="icofont-ui-user icofont-2x"></i> Nombre</th>
		<th><i class="icofont-email icofont-2x"></i> Mail</th>
		<th><i class="icofont-smart-phone icofont-2x"></i> Telefono</th>
		<th><i class="icofont-direction-sign icofont-2x"></i> Direccion</th>
		<th><i class="icofont-building-alt"></i> Departamento</th>
		<th><i class="icofont-card"></i> Documento</th>
		<th><i class="icofont-tools icofont-2x"></i> Accion</th>
	      </tr>
	</thead>
	      <!-- {% for cliente in clientes%} -->
	      <tr>
		<!-- <td>{{cliente[0]}}</td> -->
		<td>01</td>
		<td>Cliente 01</td>
		<td>Mail Cliente 01</td>
		<td>Telef Cliente 01</td>
		<td>Direcc Cliente 01</td>
		<td>Departamento Cliente 01</td>
		<td>Doc Cliente 01</td>
		<td>
<a href="" class="btn btn-primary btn-sm"><i class="icofont-contacts icofont-2x"></i></i></a>
<a href="" class="btn btn-primary btn-sm"><i class="icofont-ui-edit icofont-2x"></i></a>
<a href="" class="btn btn-danger btn-sm"><i class="icofont-trash icofont-2x"></i></a>
</td>
	      </tr>
	      <!-- {% endfor %} -->
	      <tr>
		<td>02</td>
		<td>Cliente 02</td>
		<td>Mail Cliente 02</td>
		<td>Telef Cliente 02</td>
		<td>Direcc Cliente 02</td>
		<td>Departamento Cliente 02</td>
		<td>Doc Cliente 02</td>
		<td>
<a href="" class="btn btn-primary btn-sm"><i class="icofont-contacts icofont-2x"></i></i></a>
<a href="" class="btn btn-primary btn-sm"><i class="icofont-ui-edit icofont-2x"></i></a>
<a href="" class="btn btn-danger btn-sm"><i class="icofont-trash icofont-2x"></i></a>
</td>
</tr>
	      <tr>
		<td>03</td>
		<td>Cliente 03</td>
		<td>Mail Cliente 03</td>
		<td>Telef Cliente 03</td>
		<td>Direcc Cliente 03</td>
		<td>Departamento Cliente 03</td>
		<td>Doc Cliente 03</td>
		<td>
<a href="" class="btn btn-primary btn-sm"><i class="icofont-contacts icofont-2x"></i></i></a>
<a href="" class="btn btn-primary btn-sm"><i class="icofont-ui-edit icofont-2x"></i></a>
<a href="" class="btn btn-danger btn-sm"><i class="icofont-trash icofont-2x"></i></a>
</td>
	      </tr>
</table>
</div>
    </div>
  </div>
{% endblock %}

